<!DOCTYPE html>

<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<base href="/">
		<title>AngularJS Boilerplate</title>

		<link type="text/css" rel="stylesheet" media="all" href="css/app.css">
	</head>

	<body>

		<div ng-controller="AppController" ng-cloak="">
			<div class="wrapper">
				<div class="content">
					<div class="inner">
						<messages messages-data="messages"></messages>
						<h1>{{ pageTitle }}</h1>
						<div class="form-group">
							<div class="input-group username-field">
								<div class="input-group-addon">@</div>
								<input class="form-control" type="username" ng-model="username" placeholder="Enter GitHub username">
							</div>
						</div>	
						<button type="button" class="btn btn-primary" ng-click="submit()">Submit</button>

						<div ui-view></div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="js/vendor.js"></script>
		<script type="text/javascript" src="js/templates.js"></script>
		<script type="text/javascript" src="js/app.js"></script>		
	</body>
</html>
